* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 0.2fr 1fr 0.2fr;
    grid-template-areas: 
    "nav nav"
    "leftside main"
    "footer footer"
    ;
}
nav {
    grid-area: nav;
    display: flex;
    justify-content: space-around;
    float: left;
    background-color: aqua;
    padding: 20px;
    position: fixed;
    width: 100%;
    
}
nav ul li {
    list-style: none;
    float: left;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
.nav-links {
    /* background-color: brown; */
    display: flex;
    justify-content: space-around;
    width: 45%;
    text-decoration: none;
}

#leftside {
    grid-area: leftside;
    /* background-color: bisque; */
    padding: 10px;
    border-right: 1.5px solid gray;
}
.chiro {
    width: 100%;
    height: 60%;
    border-radius: 5px;
}
.spine {
    width: 100%;
    height: 50%;
}
#main {
    grid-area: main;
}
#footer {
    grid-area: footer;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    text-align: center;
}